POSTGRES_USER=linksta
POSTGRES_PASSWORD=linksta_password
POSTGRES_DB=linksta_api
POSTGRES_PORT=5432

DATABASE_URL=postgres://linksta:linksta_password@localhost:5432/linksta_api
PORT=3000
HOST=0.0.0.0
